<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Chicago Polyglot Mingle</h2>
                <p>Thursday, August 17, 2017 <br>
                  6pm - 8pm <br>
                <a href="http://www.sullyshouse.com/" class="address">Sully&#8217;s House, 1501 N. Dayton Street, Chicago, IL 60642 </a></p>
                <ul class="actions">
                    <li><a href="https://www.eventbrite.com/e/chicago-polyglot-mingle-2017-tickets-36271737744" class="button big special">RSVP Now!</a></li>
                </ul>
                <br/>
                <!--
                  <p>Were you there? We invite you to <i><a href="https://docs.google.com/a/wisdomgroup.com/forms/d/e/1FAIpQLSdCeNjDvX9aopwNovRtHS469b7b7KbwfQhurYcXnENvxZgvXw/viewform?c=0&w=1">take the survey</a></i>.</p>
                -->
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
